@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root{
--primary-color:#3b141c;
--secondary-color:##f3961c;
--dark-color:#252525;
--white-color:#fff;
--light-gray-color:#f2f2f2;
--site-max-width:1300px;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white-color);
}
a{
    text-decoration: none;
}
.section_container{
    margin: 0 auto;
    max-width: var(--site-max-width);
}

.section_title::after{
    content: "";
    width: 80px;
    background-color: var(--secondary-color);
}